html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    padding: 15;
    background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6, p, a, .timeTicker, button {
    font-family: "Segoe UI"; font-weight: lighter;
    color: #333333;
}

h1 {
    font-size: 4.5em;
    margin-bottom: -.2em;
}

h2, a, button {
    font-size: 1.4em;
}

button {
    border: 0;
}

.riskMeter {
    margin-bottom: 1em;
    margin-left: -5em;
    margin-right: -5em;
}

.timeTicker {
    margin-top: 1.4em;
    font-size: 1.12em;
}

.viewImpactHistoryButton, button {
    border: 0;
    text-shadow: none;
    padding: .8em 1em;
    margin-top: .5em;
    background: #333333;
    color: #EEE;
    text-decoration: none;
}

.viewImpactHistoryButton:active {
    background: #999999;
}

.container {
    display: table;
    table-layout: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row {
    display: table-row;
}

button:active {
    background: #999999;
}